<turbo-frame id="result">
  <% if @result.present? %>
    <h3 style="text-align: center; color: green;">Result: <%= @result %></h3>
  <% elsif @error.present? %>
    <h3 style="text-align: center; color: red;">Error: <%= @error %></h3>
  <% end %>
</turbo-frame>
